/**MIXINS**/

@mixin hero {
  display:flex;
  align-items:center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1rem;
	min-height: 60vh;
}

@mixin button {
	text-transform: uppercase;
	background-color: white;
  border-radius: $radius;
  letter-spacing: $letter-spacing;
  border: .1rem solid inherit;
  padding: .6rem 1.2rem;
  font-size:1.2rem;
  transition: all .3s;
	display:inline-block;
	color:inherit;
}

@mixin page {
	background:$background;
	min-height:calc(100vh - 6rem);
	padding:2rem;
}

@mixin respond ($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) { @content }; //600px
	}
	@if $breakpoint == tablet-port {
		@media (max-width: 56.25em) { @content }; //900px
	}
	@if $breakpoint == tablet-land {
		@media (max-width: 75em) { @content }; //1200px
	}
	@if $breakpoint == desktop {
		@media (max-width: 112.5em) { @content }; //1800px
	}
}