.home {
	background-color: white;
	&__hero {
		@include hero;
		color: white;
		background: linear-gradient(to right bottom,  $primaryDark, $primary);
    position: relative;
    .card {
    	background-color: transparent;
    	box-shadow: none;
    	color:white;
    	a {
    		color:white;
    	}
    }
		.item {
			margin:1rem;
			@include respond(phone) {
		    margin:1rem 0;
		  }
			flex-grow: 1;
			min-width: 240px;
			text-align: center;
			.btn {
				display: block;
				margin: auto;
				transition: 0.2s ease all;
				&:hover {
				}
			}
		}
	}
	&__more {
		padding:1rem;
		background: $greyAccentLight;
		min-height:100vh;
	}
	&__video {
		min-height:100vh;
		position: relative;
		.learn-more {
			position: absolute;
			width:100%;
			bottom:2rem;
			left:0;
	    font-size: 1.4rem;
	    color: white;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
		}
		.jumbotron {
			position: absolute;
			width:100%;
			top:20%;
			left:0;
			height: 60%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.item {
				padding:2rem;
				margin:1rem 2rem;
				flex-grow: 1;
				min-width: 240px;
				text-align: center;
				.btn {
					display: block;
					margin: auto;
					margin-bottom:2rem;
					transition: 0.2s ease all;
					&:hover {
					}
				}
			}
		}
		.bg-video {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 0;

			&__content {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			
		}
	}
}