.nav {
	position: absolute;
	width:calc(100% - 4rem);
	top: 0;
	left: 0;
	z-index: 1;
	height: 5rem;
	background-color: $primaryDark;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:0.5rem 2rem;
	color: white;
	img {
		height: 4rem;
	}
	.btn {
		background-color: transparent;
		color: white;
		&:hover {
			background-color: $background;
			box-shadow: none;
		}
	}
}

.navbar {
	position: relative;
	top: 0;
	left: 0;
	width:calc(100% - 4rem);
	height:6rem;
	z-index: 1;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:0.5rem 2rem;
	color: $text;
	&__menu {
		img {
			height: 4rem;
			border-radius: 50%;
		}
	}
	&__logo {
		height: 4rem;
	}
}